body {
}
body {
    background-color : white;
    margin :0px;
    padding:0px;

}

.menu{
width:100%; 
height:30px; 
background-color : #A20319;
border-top:3px solid #333;
border-bottom:3px solid #333;
}

.menu ul{
margin:0;
padding:0;
padding-left:400px;
}
.menu ul li{
list-style:none;
float:left;

}
.menu ul li a{
font-family:'Baskerville Old Face';
display:block;
font-size:17px;
color:#fff;
font-family:arial;

text-decoration:none;
padding:6px 15px 6px 15px;
transition:ease-in 200ms;
border-radius:5px;
}
.menu ul li a:hover{
background-color:#333;
}
/**************************************/

#kategoribaslik {
    text-align:center;  
    font-family :'Bookman Old Style';
    font-size : 20px;
    font-weight :bold;
    background-color :white;
    margin:0px;
    padding:0px;
    padding-bottom:5px;
    padding-top:5px;
}
/**************************************/
#kategori {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
   
}
#kategori li {
	width: 190px;
    
}
#kategori a {
  
	font-family: Arial;
	font-size: 15px;
	color:azure;
	text-decoration: none;
	background-color : #A20319;
	display: block;
    padding-left: 5px;
    padding-top: 5px;
	padding-right: 5px;
	border: 1px solid #9fb2bc;
	text-align: left;
	line-height: 30px;
	margin-right: 2px;
	width:100%;
    border-radius:5px;
    float: left;
}
#kategori a:hover {
	background-color: #333;
	color:#fff;
}

/**************************************/

.ustmenu{
position :absolute;
width:100%; 
height:25px; 
background-color : #A20319;
padding-bottom:5px;

}

.ustmenu ul{
margin:0;
padding:0;
margin-left:1000px;

}
.ustmenu ul li{
list-style:none;
float:left;
}
.ustmenu ul li a{
font-weight:bold;
display:block;
font-size:12px;
text-decoration : underline;
color:#fff;
font-family:arial;
text-decoration:none;
padding:10px;

}
    .ustmenu ul li a:hover {
        color: #000000;
        /**************************************/
    }

.ustmenu2{
position :absolute;
width:100%; 
height:25px; 
background-color : #A20319;
padding-bottom:5px;

}

.ustmenu2 ul{
margin:0;
padding:0;
margin-left:850px;

}
.ustmenu2 ul li{
list-style:none;
float:left;
padding-top:5px;
padding-left:10px;
padding-right : 10px;
}
.ustmenu2 ul li a{
font-weight:bold;
display:block;
font-size:12px;
text-decoration : underline;
color:#fff;
font-family:arial;
text-decoration:none;
padding-top:3px;

}
    .ustmenu2 ul li a:hover {
        color: #000000;
        /**************************************/
    }

   
#product_name {
    height: auto;
    width: 150px;
    font-size: 17px;
    color:#4f4bac;
}

#price {
    padding:5px 0px 0px 0px;
    height: 27px;
    width: 147px;
    border-top: 2px solid #c9c9c9;
    border-bottom: 2px solid #c9c9c9;
    color:#333333;

}

